@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran&family=Inter&family=Nunito+Sans:wght@400;700&family=Permanent+Marker&family=Source+Sans+3:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    overflow-x: hidden;
    background-image: url(../img/fondo.png);
    background-attachment: fixed; }

#navBar {
  background-color: rgba(153, 153, 151, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: navbar2;
  text-transform: uppercase; }
  #navBar ul li {
    list-style: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px; }
    #navBar ul li a:hover {
      color: #A14D9D !important; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navbar2" "main" "footer";
  justify-content: center; }

.portfolio {
  grid-area: main; }

.gallery {
  width: 100%; }

main div h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
  animation-name: text-enter;
  animation-iteration-count: initial;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-delay: 0s; }

.sect-img {
  width: 100%; }
  .sect-img:hover {
    transform: translateY(-5px); }

.pie {
  grid-area: footer;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  justify-content: space-between; }
  .pie div a {
    text-decoration: none; }

.pie-text {
  font-size: 1.2rem;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600; }

.pie-icon {
  width: 25px;
  margin-right: 10px; }
