@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran&family=Inter&family=Nunito+Sans:wght@400;700&family=Permanent+Marker&family=Source+Sans+3:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    overflow-x: hidden;
    background-image: url(../img/fondo.png);
    background-attachment: fixed; }

.btn-1, .btnForm {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 4px 6px;
  margin: 10px 5px 10px 5px;
  text-decoration: none;
  font-weight: 400; }
  .btn-1:hover, .btnForm:hover {
    color: #dadada;
    background-color: #A14D9D; }

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-area: buttons; }

.spaceBetween {
  justify-content: space-between; }

.justifyEnd {
  justify-content: end; }

.justifyStart {
  justify-content: start; }

main article p b {
  color: #A14D9D; }
  main article p b a {
    color: #A14D9D; }

#linkRef {
  color: #A14D9D; }

.paragraph {
  font-size: 1.2rem;
  grid-area: paragraph; }

.textForm {
  font-size: 1.7rem; }

.formTitle {
  font-size: 4rem;
  font-weight: 600;
  color: #999997; }

.projectTitle {
  font-family: Permanent Marker;
  font-size: 4rem;
  color: #A14D9D; }

h3 {
  color: #999997; }

h2 {
  color: #A14D9D;
  font-weight: 600;
  font-size: 2.2rem;
  padding-top: 2.2rem; }

.textWhite, .textWhite-b {
  color: white; }

.textWhite-b {
  font-weight: 600; }

#navBar {
  background-color: rgba(153, 153, 151, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: navbar2;
  text-transform: uppercase; }
  #navBar ul li {
    list-style: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 10px; }
    #navBar ul li a:hover {
      color: #A14D9D !important; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "navbar2" "main" "footer";
  justify-content: center; }

.grid-figures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  width: 90vw;
  margin: auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px; }

.portfolio {
  grid-area: main; }

.gallery {
  width: 100%; }

main div h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 1vh;
  animation-name: text-enter;
  animation-iteration-count: initial;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-delay: 0s; }

.sect-img {
  width: 100%;
  margin: auto;
  justify-content: center; }
  .sect-img:hover {
    transform: translateY(-5px); }

.formSize {
  width: 50%; }

.bgPrimary {
  background-color: #A14D9D; }

.perfil-img {
  width: 100%;
  padding-top: 5px; }

.btnForm {
  font-size: 2rem; }

.pie {
  grid-area: footer;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  justify-content: space-between; }
  .pie div a {
    text-decoration: none; }

.pie-text {
  font-size: 1.2rem;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600; }

.pie-icon {
  width: 25px;
  margin-right: 10px; }
