//General

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    
    body{
        overflow-x: hidden;
        background-image: url(../img/fondo.png);
        background-attachment: fixed;
    }

}

//variables

//colores
$mainColor: #A14D9D;
$secondaryColor: #999997;
$secondaryColor--alfa: rgba(153, 153, 151, 0.2);