//General

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

//Variables

//colores
$mainColor: #A14D9D;
$secondaryColor: #999997;
$secondaryColor--alfa: rgba(153, 153, 151, 0.2);

$paleta: (
    'PrimaryColor': #a14d9d,
    'SecondColor': #dadada,
    'PrimaryColorLight': #d8c5e5,
    'FirstAlt': #fff2a9,
    'SecondAlt': #436c9d,
    'SecondAltLight': #82a4d5,);


.sliderBg{
    background-color: map-get($map: $paleta, $key:'PrimaryColorLight' ) ;
}


html{
    font-size: 62.5%;
    
    
    body{
        overflow-x: hidden;
        background-attachment: fixed;
        background-color: #e9def181;
    }

}


//botones
.btn-1{
    background-color: black;
        color: white;
        font-size: 1.2rem;
        padding: 4px 6px;
        margin: 10px 5px 10px 5px;
        text-decoration: none;
        font-weight: 400;
        width: 150px;
        &:hover{
            color: map-get($map: $paleta, $key:'SecondColor' ) ;
            background-color:$mainColor;
        }
}

.btn-2{
    background-color: $mainColor;
        color: white;
        font-size: 1.6rem;
        padding: 4px 6px;
        margin: 10px 5px 10px 5px;
        text-decoration: none;
        font-weight: 400;
        &:hover{
            color: white ;
            background-color:black;
            }
            
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: buttons;
}

.btnOutline{
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 6px 6px;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
    font-weight: 400;
    width: 150px;
    border: 1px solid black;
    &:hover{
        color: white;
        background-color:black;
    }
}

//Display Flex
.spaceBetween{
    justify-content: space-between;
}

.justifyEnd{
    justify-content: end;
}

.justifyStart{
    justify-content: start;
}