@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Catamaran&family=Inter&family=Nunito+Sans:wght@400;700&family=Permanent+Marker&family=Source+Sans+3:wght@400;600&display=swap');

$fontMain: 'Nunito Sans', sans-serif;
$fontSecondary: 'Permanent Marker', cursive;

//Texto de contenido
main{
    article{
        p{
            b{
                color:$mainColor;
                a{
                    color:$mainColor;
                }
            }
        }
    }
}

#linkRef{
    color:$mainColor;
}

.paragraph{
    font-size: 1.6rem;
    grid-area: paragraph;
}

.textForm{
    font-size: 1.7rem;
}
.formTitle{
    font-size: 4rem;
    font-weight: 600;
    color: #999997;
}

.projectTitle{
    font-family: Permanent Marker;
    font-size: 4rem;
    color: #A14D9D;
}

h3{
    color: #999997;
}

h2{
    color: #A14D9D;
    font-weight: 600;
    font-size: 2.2rem;
    padding-top: 2.2rem;
}

main{
    div{
        h1{
            color: map-get($map: $paleta, $key:'PrimaryColor' ) ;
        }
    }
}

.textWhite{
    color: white;
}

.textWhite-b{
    @extend .textWhite;
    font-weight: 600;
}

.section{
    font-family: 'Nunito Sans', sans-serif;
    color: map-get($map: $paleta, $key: 'PrimaryColor');
    font-weight: 600;
    padding-top: 8px;
}

.imgTitle{
    font-family: $fontMain;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}

.imgDescription{
    font-family: $fontMain;
    font-size: 1.8em;
}

.lgText{
    font-size: 4rem;
    color: map-get($map: $paleta, $key: 'PrimaryColor');
    font-family: $fontMain;
    font-weight: 600;
}

.lgText-secondary{
    font-size: 2rem;
    color: black
}