//Imports

@import "_commons";
@import "_fonts";
@import "_areas";

//Media Queries
@media only screen and (max-width: 500px) {
    .formTitle{
        font-size: 3rem;
    }

    .formSize{
        width: 75%;
    }

    .btn-1{
        font-size: 1.5rem;       
    }
}

@media only screen and (min-width: 500px){
    
    nav ul li{
    font-size: 1.8rem;
    }

    .presentation {
        font-size: 2.8rem;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .pie-text{
        font-size: 1.5rem;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .pie-icon{
        width: 35px;
        margin-right: 10px;
    }

    .section{
        font-size: 2.7rem;
    }
    
    .paragraph{
        font-size: 1.6rem;
        padding-top: 10px;
    }

    .btn-1{
        font-size: 1.8rem;   
    }
}

@media only screen and (min-width: 768px){
    
    .grid-figures{
        grid-template-columns: 1fr 1fr ;   
    }

    .grid-figures2{
        grid-template-columns: 1fr 1fr ; 
        grid-column-gap: 8px;   
    }

    .presentation {
        font-size: 4rem;   
    }

    .menu{
       flex-direction: row;
       justify-content: space-between;
       padding: 15px 15px 10px 15px;
       align-items: center;    
    }
    
    
    .paragraph{
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .buttons{
        grid-column: 2/3;
        grid-row: 2/3;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: auto;
    }

    #carouselExampleControls{
        width: 100%;
        justify-content: center;
    }

    #carousel-char{
        width: 90% ;
    }


}

@media only screen and (min-width: 1200px){
    
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" 
                            "navbar2 navbar2" 
                             "main main" 
                            "footer footer";  
    }
    
    .grid-figures{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-column-gap: 5px;   
    }

    .grid-figures2{
        grid-template-columns: 1fr 1fr ;
        grid-column-gap: 8px;   
    }

    .pie{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;    
    }
    
    .pie-text{
        font-size: 1.5rem;
    }
    
    .paragraph{
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .buttons{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #carousel-char{
        width: 50% ;
    }
}


